<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="m-0">Users List</h3>
      <span class="badge bg-primary p-2">Total Users: {{totalUsers}}</span>
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Registered on</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createdAt | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  